<!DOCTYPE html>
<html>
<head>
    <style>    
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
        padding: 15px;
    }
    th, td {
        background-color: #96D4D4;
    }
    </style>
</head>
<body>
<h1> Weather {{ city }}</h1>
<p>
    <table>
    <tr>
        <th>
            name
        </th>
        <th>
            value
        </th>
    </tr>
    <tr>
        <td>temp</td>
        <td>{{ temp }}</td>
    </tr>
    <tr>
        <td>feelslike</td>
        <td>{{ feelslike }}</td>
    </tr>
    <tr>
        <td>humidity</td>
        <td>{{ humidity }}</td>
    </tr>
    </table>
</p>
</body>
</html>